<!DOCTYPE html>
<html>
  <head>
    <title>AkBanking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
</head>
<body>
  <%= render "shared/header"%>
  <% if request.path == root_path %>
    <%= yield %>
  <% else %>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>
</body>
</html>
